<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Src/css/bootstrap.min.css" rel="stylesheet" />
    
    <script src="~/Src/js/jquery-1.11.1.min.js"></script>
    <script src="~/Src/js/bootstrap.min.js"></script>
    <script src="~/Src/js/ajaxupload.js"></script>

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WYSIWYG</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
    
        <div class="btn-toolbar" role="toolbar" style="margin-bottom: 5px;">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default" title="Bold" data-cedit="bold"><span class="glyphicon glyphicon-bold"></span></a>
            <a class="btn btn-default" title="Italic" data-cedit="italic"><span class="glyphicon glyphicon-italic"></span></a>
        </div>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default" title="List" data-cedit="list"><span class="glyphicon glyphicon-th-list"></span></a>
        </div>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default" title="Left" data-cedit="left"><span class="glyphicon glyphicon-align-left"></span></a>
            <a class="btn btn-default" title="Center" data-cedit="center"><span class="glyphicon glyphicon-align-center"></span></a>
            <a class="btn btn-default" title="Right" data-cedit="right"><span class="glyphicon glyphicon-align-right"></span></a>
        </div>
        <div class="btn-group btn-group-sm">
            <a id="btnImageUpload" class="btn btn-default" title="Image Upload"><span class="glyphicon glyphicon-picture"></span></a>
            <a id="btnVideoUpload" class="btn btn-default" title="Video Upload"><span class="glyphicon glyphicon-facetime-video"></span></a>
            <a id="btnFileUpload" class="btn btn-default" title="File Upload"><span class="glyphicon glyphicon-paperclip"></span></a>
        </div>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default" title="Link"><span class="glyphicon glyphicon-link"></span></a>
        </div>
    </div>
    <div id="editable" contenteditable="true" data-bind="html: txtHtml">
    </div>
    </div>
    
    <style>
        #editable {
            border: solid 1px #e0e0e0;
            border-radius: 4px;
            min-height: 100px;
        }

            #editable img {
                cursor: move;
            }
    </style>
    <script>
        $("[contenteditable='true']").on("focus", function () {
            console.log(document.getSelection());
        });
        $("[data-cEdit='bold']").click(function () {
            var range = window.getSelection().getRangeAt(0);
            var newNode;
            if (range.commonAncestorContainer.parentNode != "strong") {
                newNode = document.createElement('strong');
            }
            range.surroundContents(newNode);
        });
        $("[data-cEdit='italic']").click(function () {
            var range = window.getSelection().getRangeAt(0);
            var newNode;
            if (range.commonAncestorContainer.parentNode != "em") {
                newNode = document.createElement('em');
            }
            range.surroundContents(newNode);
        });
        $("[data-cEdit='list']").click(function () {
            var range = window.getSelection().getRangeAt(0);
            var newNode;
            newNode = document.createElement("li");
            range.surroundContents(newNode);
            newNode = document.createElement("ul");
            range.surroundContents(newNode);
        });
        $("[data-cEdit='left']").click(function (e) {
            var range = window.getSelection().focusNode;
            range.parentNode.style.textAlign = 'left';
        });
        $("[data-cEdit='center']").click(function (e) {
            var range = window.getSelection().focusNode;
            range.parentNode.style.textAlign = 'center';
        });
        $("[data-cEdit='right']").click(function (e) {
            var range = window.getSelection().focusNode;
            range.parentNode.style.textAlign = 'right';
        });

        $("#btnImageUpload").ajaxUpload({
            url: "/home/SayfaFileUpload",
            name: "file",
            onSubmit: function () {
                
            },
            onComplete: function (result) {
                if (result != '"error"') {
                    var adi = String(result).replace(/\"/g, "").split("|")[0];
                    var type = String(result).replace(/\"/g, "").split("|")[1];

                    var range = window.getSelection().getRangeAt(0);
                    var newNode;
                    if (range.commonAncestorContainer.parentNode != "img") {
                        newNode = document.createElement('img');
                        newNode.setAttribute('src', '/Upload/Sayfa/' + adi);
                    }
                    range.surroundContents(newNode);

                
                } else {
                
                }
            }
        });

        $("#btnVideoUpload").ajaxUpload({
            url: "/home/SayfaFileUpload",
            name: "file",
            onSubmit: function () {
                
            },
            onComplete: function (result) {
                if (result != '"error"') {
                    var adi = String(result).replace(/\"/g, "").split("|")[0];
                    var type = String(result).replace(/\"/g, "").split("|")[1];

                    var range = window.getSelection().getRangeAt(0);
                    var newNode;
                    if (range.commonAncestorContainer.parentNode != "video") {
                        newNode = document.createElement('video');
                        newNode.setAttribute('width', '100%');
                        newNode.setAttribute('height', '240');
                        newNode.setAttribute('src', '/Upload/Sayfa/' + adi);
                        newNode.innerText = 'İnternet tarayıcınız HTML5 desteklememektedir.';
                    }
                    range.surroundContents(newNode);
                    
                } else {
                    
                }
            }
        });

        $("#btnFileUpload").ajaxUpload({
            url: "/home/SayfaFileUpload",
            name: "file",
            onSubmit: function () {
                
            },
            onComplete: function (result) {
                if (result != '"error"') {
                    var adi = String(result).replace(/\"/g, "").split("|")[0];
                    var type = String(result).replace(/\"/g, "").split("|")[1];

                    var range = window.getSelection().getRangeAt(0);
                    var newNode;
                    if (range.commonAncestorContainer.parentNode != "a") {
                        newNode = document.createElement('a');
                        newNode.setAttribute('href', '/Upload/Sayfa/' + adi);
                        newNode.innerText = window.getSelection().anchorNode.nodeValue;
                    }
                    range.surroundContents(newNode);
                    
                } else {
                    
                }
            }
        });

    </script>

</body>
</html>
