<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <link href="~/Src/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Src/js/jquery-1.11.1.min.js"></script>
    <script src="~/Src/js/bootstrap.min.js"></script>
    <script src="~/Src/js/ajaxupload.js"></script>
    <script src="~/Src/js/wysiwyg.js"></script>
    <style>
        #editable {
            border: solid 1px #e0e0e0;
            border-radius: 4px;
            min-height: 100px;
        }

            #editable img {
                cursor: move;
            }

            #editable .imgActive {
                border: dotted 1px #00ffff;
            }
            blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 100%;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
    </style>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WYSIWYG</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div style="margin-bottom: 5px;">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" title="Font Family" data-toggle="dropdown"><span class="glyphicon glyphicon-font"></span>&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="font-family">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="font-family:cursive;" data-font-family="cursive" data-cedit="font-family">Cursive</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="font-family:fantasy;" data-font-family="fantasy" data-cedit="font-family">Fantasy</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="font-family:monospace;" data-font-family="monospace" data-cedit="font-family">Monospace</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="font-family:sans-serif;" data-font-family="sans-serif" data-cedit="font-family">Sans-Serif</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="font-family:serif;" data-font-family="serif" data-cedit="font-family">Serif</a></li>
                </ul>
            </div>            
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default" title="Bold" data-cedit="bold"><span class="glyphicon glyphicon-bold"></span></button>
                <button class="btn btn-default" title="Italic" data-cedit="italic"><span class="glyphicon glyphicon-italic"></span></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default" title="List" data-cedit="list"><span class="glyphicon glyphicon-th-list"></span></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default" title="Left" data-cedit="left"><span class="glyphicon glyphicon-align-left"></span></button>
                <button class="btn btn-default" title="Center" data-cedit="center"><span class="glyphicon glyphicon-align-center"></span></button>
                <button class="btn btn-default" title="Right" data-cedit="right"><span class="glyphicon glyphicon-align-right"></span></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button id="btnImageUpload" class="btn btn-default" title="Image Upload"><span class="glyphicon glyphicon-picture"></span></button>
                <button id="btnVideoUpload" class="btn btn-default" title="Video Upload"><span class="glyphicon glyphicon-facetime-video"></span></button>
                <button id="btnFileUpload" class="btn btn-default" title="File Upload"><span class="glyphicon glyphicon-paperclip"></span></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" title="Link" onclick="$('#linkForm').toggle();"><span class="glyphicon glyphicon-link"></span></button>
                <div id="linkForm" style="position:absolute; top:32px; left:0px; box-shadow:0px 3px 5px #e0e0e0; border-radius:5px; display:none;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="http://" id="txtLink" style="width:160px;" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-cedit="link">Ok!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default" title="Source" data-cedit="source" ><span class="glyphicon glyphicon-edit"></span></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default" title="Blockquote" data-cedit="blockquote">Blockquote</button>
                <button class="btn btn-default" title="Cite" data-cedit="cite">Cite</button>
            </div>
        </div>        
        <div id="editable" contenteditable="true" style="display:block;">
            <div>
                <br />
            </div>
        </div>
        <textarea id="editableSource" class="form-control" style="display:none;"></textarea>        
    </div>
    <script>
        $("[data-cedit='font-family']").click(function () {
            document.execCommand('fontName', false, $(this).attr('data-font-family'));
        });
        $("[data-cedit='bold']").click(function () {
            document.execCommand('bold', false, null);
        });
        $("[data-cedit='italic']").click(function () {
            document.execCommand('italic', false, null);
        });
        $("[data-cedit='list']").click(function () {
            document.execCommand('insertOrderedList', false, null);
        });
        $("[data-cedit='left']").click(function (e) {
            document.execCommand('justifyLeft', false, null);
        });
        $("[data-cedit='center']").click(function (e) {
            document.execCommand('justifyCenter', false, null);
        });
        $("[data-cedit='right']").click(function (e) {
            document.execCommand('justifyRight', false, null);
        });
        $("[data-cedit='link']").click(function (e) {
                document.execCommand('createLink', false, $("#txtLink").val());
                $('#linkForm').toggle();
        });
        var sourceStatus = false;
        $("[data-cedit='source']").click(function (e) {
            if (sourceStatus == false) {
                $("#editableSource").show();
                $("#editableSource").val($("#editable").html());
                $("#editable").hide();
                sourceStatus = true;
            } else {
                $("#editable").show();
                $("#editable").html($("#editableSource").val());
                $("#editableSource").hide();
                sourceStatus = false;
            }
            
        });
        $("[data-cedit='blockquote']").click(function (e) {
            
            var range = window.getSelection().getRangeAt(0);
            var newNode;
            
                newNode = document.createElement('blockquote');
                range.surroundContents(newNode);
            
            
        });
        $("[data-cedit='cite']").click(function (e) {
            var range = window.getSelection().getRangeAt(0);
            var newNode;
            if (range.commonAncestorContainer.parentNode != "cite") {
                newNode = document.createElement('cite');
            }
            range.surroundContents(newNode);
        });

        $("#btnImageUpload").ajaxUpload({
            url: "/home/SayfaFileUpload",
            name: "file",
            onSubmit: function () {

            },
            onComplete: function (result) {
                if (result != '"error"') {
                    var adi = String(result).replace(/\"/g, "").split("|")[0];
                    var type = String(result).replace(/\"/g, "").split("|")[1];

                    var range = window.getSelection().getRangeAt(0);
                    var newNode;
                    if (range.commonAncestorContainer.parentNode != "img") {
                        newNode = document.createElement('img');
                        newNode.setAttribute('src', '/Upload/Sayfa/' + adi);
                    }
                    range.surroundContents(newNode);
                    $("#editable img").mousedown(function () {
                        $(this).addClass("imgActive");
                    });


                } else {

                }
            }
        });

        $("#btnVideoUpload").ajaxUpload({
            url: "/home/SayfaFileUpload",
            name: "file",
            onSubmit: function () {

            },
            onComplete: function (result) {
                if (result != '"error"') {
                    var adi = String(result).replace(/\"/g, "").split("|")[0];
                    var type = String(result).replace(/\"/g, "").split("|")[1];

                    var range = window.getSelection().getRangeAt(0);
                    var newNode;
                    if (range.commonAncestorContainer.parentNode != "video") {
                        newNode = document.createElement('video');
                        newNode.setAttribute('width', '100%');
                        newNode.setAttribute('height', '240');
                        newNode.setAttribute('src', '/Upload/Sayfa/' + adi);
                        newNode.innerText = 'İnternet tarayıcınız HTML5 desteklememektedir.';
                    }
                    range.surroundContents(newNode);

                } else {

                }
            }
        });

        $("#btnFileUpload").ajaxUpload({
            url: "/home/SayfaFileUpload",
            name: "file",
            onSubmit: function () {

            },
            onComplete: function (result) {
                if (result != '"error"') {
                    var adi = String(result).replace(/\"/g, "").split("|")[0];
                    var type = String(result).replace(/\"/g, "").split("|")[1];

                    var range = window.getSelection().getRangeAt(0);
                    var newNode;
                    if (range.commonAncestorContainer.parentNode != "a") {
                        newNode = document.createElement('a');
                        newNode.setAttribute('href', '/Upload/Sayfa/' + adi);
                        newNode.innerText = window.getSelection().anchorNode.nodeValue;
                    }
                    range.surroundContents(newNode);

                } else {

                }
            }
        });
    </script>
</body>
</html>
